.green {
    background-color: #94C9A9;
}

.blue {
    background-color: #3F51B5;
}

/* customizing bootstrap nav bar */
.navbar {
    margin-bottom: 0px;
    padding-right: 110px;
}
.navbar .container {
    margin: 10px;
}
.navbar-default a {
    color: #ffffff !important;
    font-size: 18px !important;
    text-decoration: none;
}
.grails-icon img {
    width: 40px;

}
.navbar-default, .navbar-static-top {
    background-color: #009688;
    border: 0px;
}
a.navbar-brand {
    color: white !important;
    font-size: 19px !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #007A6E;
    color: white;
}
.navbar-nav>li.active>a {
    color: white !important;
}
.navbar-nav>li>a:hover {
    background-color: #00B8A5 !important;
    color: white !important;
}
.navbar-nav>li>a {
    color: #00665Cb;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #db4800;
}

#band {
    /*grey =#808080*/
    background: #777DA7  no-repeat 50% 30%;
    height: 400px;
}

.margin-16 {
    margin: 16px;
}

